<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438920209817-qrmb3pg6pa1q0lfdr4aa0l7tu16sttqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438920209817-qrmb3pg6pa1q0lfdr4aa0l7tu16sttqq</string>
	<key>API_KEY</key>
	<string>AIzaSyBbrao44gR4eNZig_a3AZ8-UMieKR3VRoM</string>
	<key>GCM_SENDER_ID</key>
	<string>438920209817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubeTxt</string>
	<key>PROJECT_ID</key>
	<string>youtube-txt-hayashi</string>
	<key>STORAGE_BUCKET</key>
	<string>youtube-txt-hayashi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438920209817:ios:78aa24a6bd73b53a585f08</string>
</dict>
</plist>